
.greeter_message
{
  border:3px orange solid;
  width:300px;
  padding:10px;
  margin: 5px;
}

.greeter_form
{
  border:3px red solid;
  width:300px;
  padding:10px;
  margin: 5px;

}

.greeter_container
{
  border:3px green solid;
  width:600px;
  padding:20px;
}
